<div class="container">
  <img src="/assets/images/if_burger_49739.png" alt="burger photo">
  <h1 id="title">Eat-Da-Burger!</h1>
  <div class="row">
    <div class="col_left">
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <p class="devoured">{{this.id}}. {{this.burger_name}}<button type="submit" class="btn btn-primary" id="dev">Devoured!!</button></p>
            </div>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col_right">
      {{#each burgers}}
        {{#if this.devoured}}
          <p class="devoured">{{this.id}}. {{this.burger_name}}</p>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <form action="/" method="POST">
    <textarea id="name" name="burger_name" rows="8" cols="40"></textarea>
    <br>
  	<button type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
  </form>
  <p>Enter a burger you want to eat then Click "submit" button</p>
</div>
