<div class="container">
  <img src="./public/assets/images/if_burger_49739.png" alt"burger">
  <div class="row">
    <div class="col_left">{{burgers}}</div>
    <div class="col_right"></div>
  </div>
  <input type="text" id="food" name="food">
  <button tye="submit">Submit</button>
</div>
